.say-hello-button {
  border-color: cornflowerblue;
  color: cornflowerblue;
}

.say-hello-button:hover {
  background-color: cornflowerblue;
  color: white;
  text-decoration: white;
  text-decoration-color: white;
}

.github-btn {
  background-color: transparent;
  border: none;
  outline: none !important;
}

.btn-link:hover {
  text-decoration: none;
  color: cornflowerblue;
}

.github-btn:hover {
  color: cornflowerblue;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.image {
  height: 4rem;
  max-height: 3rem;
}
