<nav class="navbar navbar-light">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img src="/assets/brand/brand.png" alt="Oz Lustig | Full stack Developer" class="image" />
      </a>
    </div>
    <div class="navbar-nav navbar-collapse">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="columns">
          <div class="column">
            <div class="navbar-item">
              <a class="btn btn-link" href="https://github.com/OzLustig/resumeApp">Visit me on GitHub</a>
            </div>
          </div>
          <div class="column">
            <div class="navbar-item">
              <button type="button white-text" class="button is-rounded say-hello-button" routerLink="/say-hello"
                routerLinkActive="active">
                Say Hello
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
