<section class="section is-medium is-primary ">
  <div class="container h-100 text-center">
    <div class="text-centered rounded mx-auto d-block">
      <img src="/assets/brand/brand.png" alt="brand" class="image " />
      <br />
      <h2 class="is-size-5 subtitle text-centered is-primary padding">
        Be a sponge - "Soak in" everything you can. Take advantage of your education and
        opportunities in life
      </h2>
      <div class="columns add-padding">
        <div class="column">
          <a href="https://linkedin.com/in/ozlustig" class="button is-medium  ">
            <span class="icon is-small">
              <i class="fab fa-linkedin-in icon custom-width"></i>
            </span>
          </a>
        </div>
        <div class="column">
          <a href="https://github.com/OzLustig" class="button is-medium  ">
            <span class="icon is-small">
              <i class="fab fa-github icon custom-width "></i>
            </span>
          </a>
        </div>
        <div class="column">
          <a href="mailto: ozlustig@gmail.com" class="button is-medium  ">
            <span class="icon is-small">
              <i class="fas fa-envelope icon custom-width"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="subtitle gray-color add-padding">
        Handcrafted by me
        <span class="icon has-white-text">
          <i class="far fa-copyright"></i>
        </span>
        <br />
        <a href="https://bulma.io" class="remove-customs has-gray-text">
          <img
            src="https://bulma.io/images/made-with-bulma--white.png"
            alt="Made with Bulma"
            width="168"
            height="35"
          />
        </a>
      </div>
    </div>
  </div>
</section>
