<div class="container h-100 text-center">
  <h1 class="title">My recent work</h1>
  <h2 class="title is-6">
    Here are a few recent projects. Want to see more?
    <a href="mailto: ozlustig@gmail.com">Email me</a>
  </h2>
  <div class="columns">
    <div class="column">
      <div class="image-container">
        <img src="/assets/tasks-manager.png" alt="Avatar" class="image rounded img-responsive" />
        <div class="after">
          <div
            class="text text-center mx-auto d-flex align-items-center justify-content-center h-100"
          >
            <a href="https://tasks-manager1.herokuapp.com/ideas">
              Simplicity at its best, a dark themed tasks manager.
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="image-container">
        <img src="/assets/messenger-app.jpeg" alt="Avatar" class="image rounded img-responsive" />
        <div class="after">
          <div
            class="text text-center mx-auto d-flex align-items-center justify-content-center h-100"
          >
            <a href="https://messenger-app1.herokuapp.com/" class="ref">
              Unvelining a brand new Angular driven web messaging application.
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
