<section class="section is-medium is-primary has-text-centered is-long">
  <div class="container">
    <div class="text-centered">
      <h1 class="is-size-3 has-text-weight-bold is-spaced is-size-3-desktop is-size-4-mobile">
        Hi, I'm Oz. Nice to meet you
      </h1>
      <br />
      <h2 class="subtitle subtitle is-size-5-desktop">
        I am a result-driven Software engineer who can think “out of the box”. Fast learner with a
        strong foundation in Object Oriented Programming. Hands on experience in developing and
        maintaining code framework in .NET environment, writing modules in C#, and a variety of
        continuous work with development tools including Jenkins and Bugzilla. Seeking to leverage
        solid skills in the industry utilizing my relevant experience, technical expertise, and
        problem-solving skills.
      </h2>
    </div>
  </div>
</section>
<br /><br /><br /><br />
<section class="section skills text-centered">
  <div class="container is-narrow">
    <div class="box">
      <div class="content">
        <div class="columns is-centered">
          <div class="column is-centered">
            <figure class="image">
              <img src="/assets/backend.png" alt="backend" class="image is-48x48" />
            </figure>
            <div class="headline is-centered">
              Back-end Developer
            </div>
            <div class="sixty-percents-width">
              I love to code in a complex environment and bring ideas to life.
              <br /><br />
              <div class="blue-color">
                Languages I speak:
                <br />
                <div class="text-body">
                  Java, JavaScript, C#, C
                  <br /><br />
                  <div class="blue-color">
                    Dev tools:
                  </div>
                  <ul class="push-left">
                    <li>VSCode</li>
                    <li>Eclipse</li>
                    <li>Node.JS</li>
                    <li>Express.JS</li>
                    <li>MongoDB</li>
                    <li>REST</li>
                    <li>.NET</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-centered">
            <figure class="image">
              <img src="/assets/frontend.png" alt="backend" class="image is-48x48" />
            </figure>
            <div class="headline">
              Front-end Developer
            </div>
            <div class="sixty-percents-width">
              Front-end brings out my creative side and enables me to put ideas into digital format.
              <br /><br />
              <div class="blue-color">
                Technologies I breath:
                <br />
                <div class="text-body">
                  Angular, HTML5, CSS, Bootstrap
                  <br /><br />
                  <div class="blue-color">Dev Tools</div>
                  <ul class="push-left">
                    <li>VSCode</li>
                    <li>Git</li>
                    <li>Slack</li>
                    <li>Terminal</li>
                    <li>Bulma</li>
                    <li>FontAwesome</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-centered">
            <figure class="image">
              <img src="/assets/mentor.png" alt="mentor" class="image is-48x48" />
            </figure>
            <div class="headline">
              Mentor
            </div>
            <div class="sixty-percents-width">
              “The person who says he knows what he thinks but cannot express it usually does not
              know what he thinks.”.
              <footer class="blockquote-footer">
                American philosopher, educator, and popular author
                <cite title="Source Title"> Mortimer Adler</cite>
              </footer>
              <br /><br />
              <div class="blue-color">
                What I bring to the table
                <div class="text-body">
                  <ul>
                    <li>4 years of experience</li>
                    <li>Reserved forces instructor</li>
                    <li>Volunteered at IDC Hertzliya</li>
                    <li>Mentored C.S students</li>
                    <li>Private tutor</li>
                    <li>20+ students</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
